/* HTML Element Styles  */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font: 1em Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

h1 {
    font-size: 2.625rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1em;
}

h2 {
    font-size: 3.3125em;
    font-weight: normal;
    margin-top: .5em;
    margin-bottom: .5em;
}

p {
    margin: 0;
}


/* Psudo classes */


/*
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: limegreen;
}

a:active {
    color: red;
}


/* Main Styles */

.header-top {
    font-size: larger;
    background-color: bisque;
    background-image: url("../img/LouisvilleKyCity.jp");
    background-repeat: no-repeat;
    background-size: auto, cover;
    padding: 0 0 12em 0;
}

.name {
    margin: 0;
}

.header-top img {
    margin-top: 1em;
    margin-bottom: 0;
}

.main-nav {
    margin: 0;
}

.name,
.main-nav li {
    text-align: center;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    background: white;
}

.main-intro {
    text-align: justify;
}

.main-intro h2 {
    text-align: center;
}

.footer-bottom {
    background-color: bisque;
    background-image: url("../img/LouisvilleKyCity.jpg");
    background-repeat: no-repeat;
    background-size: auto, cover;
    padding: 0 0 5em 0;
}


/*Media Queries*/

@media (min-width:769px) {
    .container {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .main-nav {
        /*Removes left margin indent*/
        padding: 0!important;
    }
    .header-top img,
    .header-top h1 {
        /*logo and name are in one line*/
        display: inline-block;
    }
}