    /*******Global Selector*******/
    
    * {
        box-sizing: border-box;
        /*default font size*/
        font-size: 16px;
    }
    /*******HTML Selectors*******/
    
    body {
        /* margin-left: 16px; */
        background-color: rgb(47, 46, 77);
        font-family: Verdana, 'Segoe UI', sans-serif, "Times New Roman", serif;
        /* background-image: url("../img/background2.jpg"); */
    }
    
    h1 {
        /*16px = 1em*/
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    h2 {
        font-size: 1rem;
        text-transform: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    
    p {
        margin-top: 0;
        margin-right: .5rem;
        margin-bottom: 0;
        margin-Left: 0;
    }
    
    header h1 {
        color: white;
    }
    /*******  Custom Classes  *******/
    /*******  Header Navigation Classes  *******/
    /*START NAVIGATION BAR*/
    
    .main-header {
        height: 200px;
    }
    
    .mobile-bar {
        /* width: 120px; */
        font-size: 1.5rem;
        padding: 10px;
        background-color: rgb(80, 92, 134);
        color: white;
        /*Mobile Screen Visible*/
        display: visible;
        transition: all 500ms linear;
    }
    
    .main-nav {
        position: fixed;
        background-color: rgb(80, 92, 134);
        width: 100px;
        padding: 3px;
        list-style: none;
        /* left: -200px; */
        display: none;
        transition: all 500ms linear;
    }
    
    .main-nav li a {
        color: white;
    }
    
    .museum-list {
        margin-top: -25px;
        position: absolute;
        display: none;
        left: 90px;
        width: 300px;
        background: rgb(80, 92, 134);
    }
    /* 
    .main-nav li {
        float: left;
        display: block;
        text-align: center;
        position: relative;
        margin-right: .3rem;
        margin-top: .25rem;
        list-style: none;
        margin-bottom: 5px;
        border-radius: .25rem;
    }
    
    .main-nav li a {
        display: block;
        color: white;
        text-align: left;
        padding: .625rem;
        border: .125rem solid rgb(106, 111, 131);
    }
    
    .main-nav li a:hover {
        background-color: rgb(52, 60, 96);
    }
    
    .museum {
        width: 100px;
    }
    
    .museum-list {
        display: none;
        width: 300px;
        background: rgb(80, 92, 134);
    } */
    /*END NAVIGATION BAR*/
    /*******  Main Content Classes  *******/
    /*background color for the body content area*/
    
    .background-color {
        background: beige;
    }
    
    .welcome {
        margin: 0 auto;
        padding: 1.25rem .25rem .25rem .25rem;
        /*padding-top: 20px;*/
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }
    
    .welcome-h2 {
        color: white;
        font-weight: bold;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -5.125rem;
        text-align: center;
    }
    
    .welcome-p {
        margin: 0 auto;
        padding: .5rem;
        /*border-top-right-radius: 50px;
        border-top-left-radius: 50px;*/
        text-align: justify;
        /*top: 250px; left: 150px; right: 109px; bottom: 0px;*/
    }
    
    .first-line::first-line {
        font-weight: bold;
        font-style: italic;
    }
    
    .first-line::first-letter {
        position: static;
        float: left;
        color: white;
        font-family: "Times New Roman";
        font-size: 3rem;
        padding: 1px 7px;
        background: rgb(47, 46, 77);
        margin: 2px 10px 0 0;
        border-radius: 15%;
    }
    /*Max Screen size for the body content area*/
    /* .screen-max-width {
        max-width: 1200px;
    } */
    
    .main-content {
        margin: 0 auto;
        padding: 0;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    
    .pic-container {
        text-align: justify;
    }
    
    .columns {
        padding: 0 .5rem;
    }
    /*sibling selector to target immediate sibling left margin
    .columns+.columns {
        padding-left: 50px;
    }*/
    /*attribute selector contains .jpg*/
    
    .columns img[src*=".jpg"] {
        border: .125rem solid rgb(31, 29, 29);
    }
    
    .rows {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .columns img {
        /*will not overlap*/
        max-width: 340px;
        max-height: 390px;
        /*will not display in one line Does this need here????*/
        display: block;
        /*center image*/
        margin: 20px auto;
        border-radius: 10%;
    }
    
    .columns h3 {
        text-align: center;
        font-weight: bold;
        color: rgb(47, 46, 77);
        margin-top: 20px;
    }
    
    .events {
        /*background: beige;*/
        margin: 0 auto;
        padding: 0 .5rem;
    }
    
    .main-footer {
        /*background-color: bisque;*/
        background-color: rgb(47, 46, 77);
        ;
        background-image: url("../img/New BridgeAtNight.jpg");
        background-repeat: no-repeat;
        /*background-size: auto, cover;*/
        height: 578px;
        /*padding: 0 0 20em 0;*/
    }
    
    .social-media {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .social-media ul {
        width: 200px 0 auto;
    }
    
    .social-media li {
        color: white;
        font-size: 1rem;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    /* 
    (min-width:650px) 
    (min-width:900px)
    */
    
    @media screen and (min-width:650px) {
        .main-header {
            /*background-color: rgb(47, 46, 77);*/
            background-image: url("../img/LouisvilleCityKy.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: inherit;
            background-size: cover;
            height: 377px;
        }
        .mobile-bar {
            /*Not display at this screen size*/
            display: none;
        }
        h1 {
            /*16px = 1em*/
            font-size: 2.5rem;
        }
        h2 {
            /*16px = 1em*/
            font-size: 1.5rem;
        }
        /*NAVIGATION BAR*/
        .main-nav {
            position: relative;
            background-color: rgb(80, 92, 134);
            width: 100%;
            margin: 0;
            padding: 0;
            left: 0;
            height: 3.75rem;
            z-index: 1;
        }
        .main-nav li {
            float: left;
            display: block;
            text-align: center;
            position: relative;
            margin-right: .3rem;
            margin-top: .25rem;
            list-style: none;
            margin-bottom: 5px;
            border-radius: .25rem;
        }
        .main-nav li a {
            display: block;
            color: white;
            text-align: left;
            padding: .625rem;
            border: .125rem solid rgb(106, 111, 131);
        }
        .main-nav li a:hover {
            background-color: rgb(52, 60, 96);
        }
        .museum {
            width: 100px;
        }
        .museum-list {
            display: none;
            margin: 0;
            left: 0;
            width: 300px;
            background: rgb(80, 92, 134);
        }
        /*END NAVIGATION BAR*/
        .columns {
            width: 50%;
        }
        .columns img {
            max-width: 95%;
            max-height: 95%;
        }
        .screen-max-width {
            /* width: 70%; */
            max-width: 1200px;
            /* margin: 0 auto; */
        }
    }
    
    @media screen and (min-width:1200px) {
        .main-header {
            /*background-color: rgb(47, 46, 77);*/
            background-image: url("../img/LouisvilleCityKy.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: inherit;
            background-size: cover;
            height: 577px;
        }
        h1 {
            /*16px = 1em*/
            font-size: 2.5rem;
        }
        h2 {
            /*16px = 1em*/
            font-size: 1.5rem;
        }
        .columns {
            width: 33.33%;
        }
        .columns img {
            /* max-width: 240px;
            max-height: 275px; */
            max-width: 95%;
            max-height: 95%;
        }
        /* .screen-max-width {
            max-width: 1200px;
        } */
    }
    /* @media (min-width:1200px) {
        .columns {
            width: 33.33%;
        }
    } */
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/
    /*******    *******/