    /*******Global Selector*******/
    
    * {
        box-sizing: border-box;
        /*default font size*/
        font-size: 16px;
    }
    /*******HTML Selectors*******/
    
    body {
        font-family: Helvetica, Verdana, 'Segoe UI', sans-serif, "Times New Roman", serif;
        /* background-image: linear-gradient( #50686a, #cbd9fe); */
    }
    
    h1 {
        /*16px = 1em*/
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    h2 {
        font-size: 1rem;
        text-transform: none;
        margin: 0;
        padding: 0;
    }
    
    h3 {
        font-size: .75rem;
        text-transform: none;
        margin: 0;
        padding: 0;
    }
    
    p {
        margin-top: 0;
        margin-right: .5rem;
        margin-bottom: 0;
        margin-Left: 0;
    }
    
    header h1 {
        color: white;
    }
    /*******  Custom Classes  *******/
    /*******  Header Classes  *******/
    
    .main-header {
        height: 200px;
        /* background-image: linear-gradient( #50686a, #cbd9fe); */
        /* gradient to match back ground colour. Fully transparent till 80% then start white color gradient & @ 100% no transparent */
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1)100%), url("../img/New BridgeAtNight.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: inherit;
        background-size: cover;
    }
    /*******  Navigation Classes  *******/
    /* Mobile Hamberger icon*/
    
    .mobile-bar {
        width: 60px;
        font-size: 1.5rem;
        padding: 10px;
        color: white;
        /*Hamberger icon Visible*/
        display: visible;
        transition: all 500ms linear;
    }
    /* mobile X to close mobile menu*/
    
    .mobile-barX {
        font-size: 1.5rem;
        padding: 10px;
        color: white;
        /*Mobile X icon Not Visible*/
        display: none;
        transition: all 500ms linear;
    }
    
    .main-nav {
        position: fixed;
        background: rgba(55, 71, 96, 0.8);
        width: 100px;
        padding: 3px;
        list-style: none;
        /* left: -200px; */
        /*to hide the menu*/
        display: none;
        transition: all 500ms linear;
    }
    
    .main-nav li a {
        color: white;
        text-decoration: none;
    }
    /*Sub Menu Item display false*/
    
    .hotel-list,
    .museum-list,
    .food-list {
        margin-top: -25px;
        position: absolute;
        display: none;
        left: 90px;
        width: 300px;
        background: rgba(55, 71, 96, 0.8);
    }
    /*******END NAVIGATION BAR*********/
    /*******  Main Content Classes  *******/
    /*background color for the body content area*/
    /***NOT WORKIN currently If needed differnet colotr than white configure here***/
    
    .background-color {
        background-color: radial-gradient(0% 0%, 60% 60%, rgb(177, 63, 63), rgb(255, 255, 255));
    }
    /* Welcome message */
    
    .welcome {
        color: white;
        position: absolute;
        /* following lines will center the Welcome message text */
        width: 600px;
        left: 50%;
        transform: translateX(-50%);
        /* following will overlay the Welcome text on the background image */
        margin-top: -7.125rem;
        text-align: center;
        /* will not display @ mobile screen */
        display: none;
        /* following displays a round transparent background */
        /* background-color: rgba(197, 221, 223, .3);
        padding: 45px 0;
        border-radius: 50%; */
    }
    /* Welcome message  h2 & h3 */
    
    .welcome h2 {
        font-family: 'Aref Ruqaa', serif;
        /* 'Handlee', cursive; */
    }
    
    .welcome h3 {
        font-family: 'Tangerine', serif;
        /* font-size: 100px; */
        /* font-size: 1rem; */
        font-family: 'Oregano', cursive;
        text-align: center;
    }
    
    .welcome h2,
    h3 {
        font-size: 1rem;
        /* font-weight: bold; */
        text-align: center;
    }
    /* slide show */
    
    .intro-slide-show {
        margin: 5px auto;
        padding: 10px;
        text-align: center;
        /* border: .0625rem solid rgb(31, 29, 29); */
        border-radius: 1px;
    }
    
    .intro-slide-show-img {
        background-image: url("../img/SlideBG.jpg");
        border-radius: 1%;
        margin: 5px auto;
        /* width: 100%; */
        height: 300px;
        resize: both;
        background-repeat: no-repeat;
        background-position: center;
        /* background-attachment: inherit; */
        /* background-size: cover; */
    }
    
    .intro-slide-show-img img {
        position: inherit;
        /* width: 100%; */
        height: 300px;
        resize: both;
        border-radius: .5%;
        /* display: none; */
        margin: 0 auto;
    }
    /* Metro Louisville Section */
    
    .metro-Lou-p {
        margin: 0 auto;
        padding: .5rem;
        text-align: justify;
    }
    /* Make First line of each paragraph bold & italic */
    
    .first-line::first-line {
        font-weight: bold;
        font-style: italic;
    }
    /* Drop Caps first letter */
    
    .first-line::first-letter {
        position: static;
        float: left;
        color: white;
        font-family: "Times New Roman";
        font-size: 3rem;
        padding: 1px 7px;
        background: rgb(47, 46, 77);
        margin: 2px 10px 0 0;
        border-radius: 15%;
    }
    /* Main Content of the body */
    
    .main-content {
        margin: 0 auto;
        padding: 0;
        border: 1px solid rgb(221, 221, 231);
        border-radius: .5rem;
    }
    /* Explore Louisville Picture container */
    
    .pic-container {
        text-align: justify;
    }
    
    .pic-container h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    /* set flex-box 1 row 3 columns */
    
    .pic-rows {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .pic-columns {
        padding: 0 .5rem;
    }
    /*sibling selector to target immediate sibling left margin*/
    /*
    .pic-columns+.pic-columns {
        padding-left: 50px;
    }*/
    /*attribute selector contains .jpg*/
    /* all .jpg images will have a border */
    
    .pic-columns img[src*=".jpg"] {
        border: .125rem solid rgb(31, 29, 29);
    }
    
    .pic-columns img {
        /*will not overlap seeting for mobile*/
        max-width: 340px;
        max-height: 390px;
        display: block;
        /*center image*/
        margin: 20px auto;
        border-radius: 3%;
    }
    
    .pic-columns h3 {
        font-size: 1.5rem;
        text-align: center;
        /* font-weight: bold; */
        color: rgb(47, 46, 77);
        margin-top: 20px;
    }
    /* Events Section */
    
    .events {
        /*background: beige;*/
        margin: 0 auto;
        padding: 0 .5rem;
    }
    
    .events h2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    /* footer section */
    
    .main-footer {
        background-color: rgb(47, 46, 77);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1)100%), url("../img/LouisvilleCityKy.jpg");
        background-repeat: no-repeat;
        height: 407px;
        text-align: center;
    }
    /* social media icon bar */
    /* Change ICON size at HTML class fa-2x or fa-3x*/
    
    .social-media {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*background-color: rgba(197, 221, 223, .3);*/
    }
    
    .social-media ul {
        width: 200px 0 auto;
    }
    
    .social-media li {
        color: white;
        font-size: 1rem;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bolder;
    }
    /* Media Queries  */
    /* Min width 650 pixel and above screen size */
    
    @media screen and (min-width:650px) {
        h1 {
            /*16px = 1em*/
            font-size: 2.5rem;
        }
        h2 {
            /*16px = 1em*/
            font-size: 1.5rem;
        }
        /* main header picture size */
        .main-header {
            /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1)100%), url("../img/New BridgeAtNight.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: inherit;
            background-size: cover; */
            height: 477px;
        }
        /* hide mobile features */
        .mobile-bar,
        .mobile-barX {
            display: none;
        }
        /*NAVIGATION BAR*/
        .main-nav {
            position: relative;
            /* background-color: rgb(80, 92, 134); */
            width: 100%;
            margin-left: 5px;
            padding: 0;
            left: 0;
            height: 3.75rem;
            z-index: 1;
        }
        .main-nav li {
            float: left;
            display: block;
            text-align: center;
            position: relative;
            margin-right: .3rem;
            margin-top: .25rem;
            list-style: none;
            margin-bottom: 5px;
            border-radius: .25rem;
        }
        .main-nav li a {
            display: block;
            color: white;
            text-align: left;
            padding: .625rem;
            border: .0125rem solid rgb(106, 111, 131);
        }
        .main-nav li a:hover {
            background-color: rgba(197, 221, 223, .2);
            /* rgb(52, 60, 96); */
        }
        .hotel {
            width: 75px;
        }
        .museum {
            width: 100px;
        }
        .food {
            width: 70px;
        }
        /* sub menu */
        .hotel-list,
        .museum-list,
        .food-list {
            display: none;
            margin: 0;
            left: 0;
            width: 260px;
        }
        /*END NAVIGATION BAR*/
        /* Welcom message section */
        .welcome {
            margin-top: -14.125rem;
            color: white;
        }
        .welcome h2 {
            font-size: 2.3rem;
            text-align: center;
        }
        .welcome h3 {
            font-size: 1.8rem;
            text-align: center;
        }
        .intro-slide-show-img {
            height: 472px;
        }
        .intro-slide-show-img img {
            width: 100%;
            height: 472px;
        }
        /* picture container */
        /* set up two columns */
        .pic-columns {
            width: 50%;
        }
        .pic-columns img {
            max-width: 95%;
            max-height: 95%;
        }
    }
    
    @media screen and (min-width:1200px) {
        h1 {
            /*16px = 1em*/
            font-size: 2.5rem;
        }
        h2 {
            /*16px = 1em*/
            font-size: 1.5rem;
        }
        /* main header section */
        .main-header {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1)100%), url("../img/New BridgeAtNight.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: inherit;
            background-size: cover;
            height: 577px;
        }
        /* hide mobile only menus */
        .mobile-bar,
        .mobile-barX {
            display: none;
        }
        /* set up the height of the welcome message */
        .welcome {
            margin-top: -17.125rem;
        }
        .welcome h2 {
            font-size: 2.5rem;
            /* font-weight: bold; */
            text-align: center;
        }
        .welcome h3 {
            font-size: 2rem;
            /* font-weight: bold; */
            text-align: center;
        }
        /* slide show */
        .intro-slide-show-img {
            height: 572px;
        }
        .intro-slide-show-img img {
            width: 100%;
            height: 572px;
        }
        /* Explore louisville picture container */
        .pic-columns {
            width: 33.33%;
        }
        .pic-columns img {
            /* max-width: 240px;
            max-height: 275px; */
            max-width: 95%;
            max-height: 95%;
        }
        .screen-max-width {
            max-width: 1200px;
        }
    }